ALTER TABLE public.challenges DROP CONSTRAINT IF EXISTS challenges_academic_grade_level_check;
ALTER TABLE public.challenges ADD CONSTRAINT challenges_academic_grade_level_check CHECK (academic_grade_level IS NULL OR academic_grade_level IN ('CP', 'CE1', 'CE2', 'CM1', 'CM2', '6eme', '5eme', '4eme', '3eme', '2nde', '1ere', 'Terminale', 'Superieur', 'Bac+1', 'Bac+2', 'Bac+3', 'Bac+4', 'Bac+5', 'Cegep', 'Universite'));
